@model IEnumerable<RSS.Data.Model.RssFeed>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.IsRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>